body {
    max-width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 7%;
}

.navbar {
    border: none;
    background-color: rgb(255, 108, 40);
    padding: 2px;
    display: grid;
    grid-template-columns: 30px auto 50px;

}

#logo {
    height: 18px;
    width: 18px;
    border: 1px solid white;
}  

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 13;
    padding-bottom: 2px;
}

#nav-link-group a:first-of-type {
    font-weight: bold;
    font-size: 18px;
}

.login {
    text-align: right;
    
}