@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300&display=swap');

body {
    background-color: #001E3C;
}

.navbar {
    background-color: #071a2ef7;
    border-bottom: 1px solid #0c2b4d;
    font-family: 'Work Sans', sans-serif;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;

    &__logo {
        color: white;
        margin-right: 1.5rem;
    }

    &__brand {
        color: white;
        font-weight: bold;
        font-family: 'PT Sans', sans-serif;
        text-decoration: none;
        font-size: 2rem;
        margin: 0 25px 0 25px;

        &:hover {
            color: white;
        }
    }

    &__link {
        color: white;
        font-weight: bold;
        margin: 0 25px 0 25px;
        border-radius: 10px;
        @media (max-width: 991px) {
            text-align: center;
        }
    }

    &__hover:hover {
        color: #91B9E3;
        background-color: #132F4C;
    }

    &__search {
        background-color: #0A1929;
        border: 1px solid #86B7FE;
        border-radius: 10px 0 0 10px;
        padding-left: 1.2rem;
        color: #86B7FE;
        margin: 0px;
        font-family: 'Menlo';

        &::placeholder {
            color: #86B7FE;
            opacity: 1;
            font-family: 'Menlo';
        }

        &:focus {
            background-color: #0B223A;
            box-shadow: none;
            color: #86B7FE;
        }
    }

    &__search_button {
        background-color: #0A1929;
        border: 1px solid #86B7FE;
        border-radius: 0 10px 10px 0;
        border-left: 0px;
        color: #86B7FE;
        margin: 0px;

        &:hover {
            color: #86B7FE;
        }


        &:focus {
            background-color: #0B223A;
            box-shadow: none;
            color: #86B7FE;
            border-color: #86B7FE;
        }
    }
}

.navbar-toggler {
    width: 47px;
    height: 34px;
    background-color: #0B223A;
    border: 1px solid #86B7FE;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #86B7FE;
    margin-bottom: 5px;
}


    