body {
    background-color: #F3F2EF;
    margin: 0;
}

/* Big Navbar */
.big-nav {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin: 0;
    align-items: center;
    box-shadow: 0px 8px 8px -4px rgb(182, 182, 182);
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-border {
    border-left: 1px solid #9DA7B2;
}

.nav-link {
    text-decoration: none;
    display: block;
    padding: .5rem 1rem;
    color: #686868;
    font-family: Arial;
    font-size: small;
    width: auto;
}

.nav-link span {
    display: block;
    text-align: center;
}

.nav-link:hover {
    color: #0A66C2;
}

/* Big Navbar Left */
#big-left-nav {
    flex-grow: 1;
    display: flex;
}

#linkedin-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.global-nav__logo {
    color: #0A66C2;
    margin-right: 16px;
    margin-left: 16px;
}

#search-icon {
    display: none;
    padding: 0;
}

#search {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#search-box {
    width: 100%;
    transition: all 0.5s;
}

#search-text {
    padding: 10px;
    border-radius: 5px;
    border: none;
    height: 2rem;
    background-color: #EEF3F8;
    outline: none;
    transition: all .4s;
    width: 50%
}

#search-text:focus {
    border: 1px solid #0A66C2;
    height: 2rem;
    padding-left: 15px;
    font-size: 1rem;
    width: 75%
}

/* Small Nav */
.small-nav {
    display: none;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin: 0;
    align-items: center;
    box-shadow: 0px 8px 8px -4px rgb(182, 182, 182);
    height: auto;
}

/* Small Drop Nav */
#drop-nav {
    display: none; /* CHANGE ME TO NONE */
    flex-flow: column;
    justify-content: start;
    background-color: #FFFFFF;
    border-top: 1px solid #b8bcc0;
    margin: 0;
    box-shadow: 0px 8px 8px -4px rgb(182, 182, 182);
}

.dropdown-menu {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    margin: 0;
    padding-left: 16px;
}

.drop-nav-link {
    display: flex;
    flex-flow: row none;
    justify-content: end;
    text-decoration: none;
    font-size: 1.8rem;
    align-items: center;
}

.drop-nav-link span {
    display: flex;
    align-items: center;
}

.drop-nav-label {
    margin-right: 15px;
}

.hamburger span {
    display: flex;
    align-items: center;
}


/* Media Queries */
@media all and (max-width: 1280px) {
    /* Big Navbar Left */
    #search-text {
        width: 100%;
    }
    #search-text:focus {
        width: 100%;
    }
}

@media all and (max-width: 1100px) {
    /* Big Navbar Left */
    #search-box {
        display: none;
    }
    #search-icon {
        display: flex;
    }
    .global-nav__logo {
        height: 40px;
        width: 40px;
    }
    #big-left-nav {
        flex-grow: 0;
    }
}

@media all and (max-width: 968px) {
    /* Big Navbar */
    .nav-link span.nav-label {
        display: none;
    }
    .nav-link svg.nav-icon {
        height: 40px;
        width: 40px;
    }
    .big-nav {
        justify-content: center;
        padding-left: 4px;
        padding-right: 4px;
    }
    .nav-border {
        border-left: none;
    }
}

@media all and (max-width: 732px) {
    /* Big Navbar */
    .big-nav { 
        display: none;
    }
    .small-nav {
        display: flex;
    }
}

@media all and (max-width: 360px) { 
    .nav-link svg.nav-icon {
        height: 30px;
        width: 30px;
    }
    .global-nav__logo {
        height: 30px;
        width: 30px;
    }
    .drop-nav-label {
        font-size: 1.5rem;
    }
}

@media all and (max-width: 332px) { 
    .nav-link svg.nav-icon {
        height: 25px;
        width: 25px;
    }
    .global-nav__logo {
        height: 25px;
        width: 25px;
    }
    .drop-nav-label {
        font-size: 1.2rem;
    }
}

@media all and (max-width: 288px) { 
    .nav-link svg.nav-icon {
        height: 20px;
        width: 20px;
    }
    .nav-link {
        padding: .5rem .5rem;
    }
    .global-nav__logo {
        height: 20px;
        width: 20px;
    }
    .drop-nav-label {
        font-size: .9rem;
    }
}



