body {
    background-color: rgb(73, 70, 70);
    padding: 25px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 25px;
    background-color: rgb(191, 230, 243);
    border: 1px solid #878a8d;
    border-radius: 10px;
    width: 50%;
    text-align: center;

    .form {
        text-align: center;
    }

    .button {
        background-color: rgb(227, 237, 240);
        border: 1px solid #CED4DA;
        padding: 5px 15px;
        border-radius: 10px;
        
        a {
            text-decoration: none;
            color: black;
        }
    }
}