{% extends 'base.html' %}
{% load static %}

<!-- # self.name
# self.id
# self.url
# self.info
# self.please_note
# self.price_range
# self.start_date
# self.end_date
# self.dates
# self.venue_name
# self.venue_id
# self.city
# self.state
# self.address
# self.postal_code
# self.longitude
# self.latitude -->

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/concert_pages/event_details.css' %}">
<script src="{% static 'js/event_details.js' %}"></script>
{% endblock custom_styles %}

{% block title %}
{{ event.name }}
{% endblock title %}

{% block main %}
<div class="main">
    <div class="event__info card">
        <img src="{{ event.img }}" class='event__img'>
        <div class="event__info__text">
            <h1 class='event__name'>{{ event.name }}</h1>
            <h2 class='event__dates'>{{ event.dates }}
                <span>at {{ event.venue_name }}</span>
            </h2>
            <h4>{{ event.price_range }}</h4>
        </div>
    </div>
    <div class="event__map card">
        <iframe style="border:0" loading="lazy" allowfullscreen
            src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBaWFTVgsRIGMxK4oba6whavy0kpKQmlf4&center={{ event.latitude }},{{ event.longitude }}&zoom=16"
            class="event__map__image">
        </iframe>
        <div class="event__location">
            <h2 class='event__location__city'>{{ event.city }}, {{ event.state }}</h2>
            <p class='event__location__street'>{{ event.address }}, {{ event.postal_code }}</p>
        </div>
    </div>
    {% if event.info is not None %}
    <div class="add_info card">
        <div class=add_info__header>
            <h2 class=add_info__title>Additional Info</h2>
            <button class="add_info__expand" onclick="showAdditionalInfo();">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-three-dots" viewBox="0 0 16 16">
                    <path
                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                </svg>
            </button>
        </div>
        <div class="add_info__text" id="add_info_text">
            <h4>{{ event.please_note }}</h4>
            <p class="add_info__text__info">{{ event.info }}</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock main %}