{% extends 'base.html' %}
{% load static %}

<!-- # self.name
# self.id
# self.url
# self.info
# self.please_note
# self.price_range
# self.start_date
# self.end_date
# self.dates
# self.venue_name
# self.venue_id
# self.city
# self.state
# self.address
# self.postal_code
# self.longitude
# self.latitude -->

{% block custom_styles %}
<link rel="stylesheet" href="{% static 'css/concert_pages/event_details.css' %}">
{% endblock custom_styles %}

{% block title %}
{{ event.name }}
{% endblock title %}

{% block main %}
<div class="main">
    <div class="event__info card">
        <img src="{{ event.img }}" class='event__img'>
        <div class="event__info__text">
            <h1 class='event__name'>{{ event.name }}</h1>
            <h2 class='event__dates'>{{ event.dates }}
                <span>at {{ event.venue_name }}</span>
            </h2>
            <h4>{{ event.price_range }}</h4>
        </div>
    </div>
    <div class="event__map card">
        <iframe style="border:0" loading="lazy" allowfullscreen
            src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBaWFTVgsRIGMxK4oba6whavy0kpKQmlf4&center={{ event.latitude }},{{ event.longitude }}&zoom=16"
            class="event__map__image">
        </iframe>
        <div class="event__location">
            <h2 class='event__location__city'>{{ event.city }}, {{ event.state }}</h2>
            <p class='event__location__street'>{{ event.address }}, {{ event.postal_code }}</p>
        </div>
    </div>
</div>
{% endblock main %}