<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
</head>

<body>
    <h1>All Posts</h1>
    <div>
        {% for post in posts %}
        <h2><a href="{% url 'post_view' post.id %}">{{ post.id }}: {{ post.title }}</a></h2>
        <h3>{{ post.body }}</h3>
        {% for comment in post.comments.all %}
        <p>- {{ comment.body }}</p>
        {% endfor %}
        {% endfor %}
    </div>
</body>

</html>